<div class="app">
  <div class="row no-gutters">
    <div class="col-md-6 mx-auto p-0">
      <div class="card">
        <div class="login-box">
          <div class="login-snip">
            <input id="tab-1" type="radio" name="tab" class="reset-password" [checked]="true">
            <label for="tab-1" class="tab">Réinitialisez votre mot de passe</label>
            <div class="login-space">
              <div class="reset-password-form">
                <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
                  <div class="group">
                    <label for="email" class="label form-label">Email</label>
                    <input type="email" id="email" class="input" formControlName="email" required>
                    <div *ngIf="email?.errors?.['required'] && email?.touched" class="error">
                      <small>Le champ email est obligatoire.</small>
                    </div>
                    <div *ngIf="email?.errors?.['email'] && email?.touched" class="error">
                      <small>Veuillez entrer une adresse email valide.</small>
                    </div>
                  </div>
                  <div class="group">
                    <label for="code" class="label form-label">Code de validation</label>
                    <input type="text" id="code" class="input" formControlName="code" required>
                    <div *ngIf="code?.errors?.['required'] && code?.touched" class="error">
                      <small>Le code de validation est obligatoire.</small>
                    </div>
                  </div>
                  <div class="group">
                    <label for="password" class="label form-label">Nouveau mot de passe</label>
                    <input type="password" id="password" class="input" formControlName="password" required>
                    <div *ngIf="password?.errors?.['required'] && password?.touched" class="error">
                      <small>Le champ mot de passe est obligatoire.</small>
                    </div>
                    <div *ngIf="password?.errors?.['minlength'] && password?.touched" class="error">
                      <small>Le mot de passe doit contenir au moins 8 caractères.</small>
                    </div>
                    <div *ngIf="password?.errors?.['noUpperCase'] && password?.touched" class="error">
                      <small>Le mot de passe doit contenir au moins une lettre majuscule.</small>
                    </div>
                    <div *ngIf="password?.errors?.['noLowerCase'] && password?.touched" class="error">
                      <small>Le mot de passe doit contenir au moins une lettre minuscule.</small>
                    </div>
                    <div *ngIf="password?.errors?.['noDigit'] && password?.touched" class="error">
                      <small>Le mot de passe doit contenir au moins un chiffre.</small>
                    </div>
                    <div *ngIf="password?.errors?.['noSpecialChar'] && password?.touched" class="error">
                      <small>Le mot de passe doit contenir au moins un caractère spécial.</small>
                    </div>
                  </div>
                  <div class="group">
                    <button type="submit" class="button btn btn-primary" [disabled]="isLoading">Envoyer</button>
                  </div>
                </form>
                <div *ngIf="errorMessage" class="error">
                  {{ errorMessage }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
