@import '~bootstrap/dist/css/bootstrap.min.css';



/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: font-stack, serif;
  background-color: #ecf0f1;
  color: #2c3e50;
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mt-10 {
  margin-top: 10px;
}
