<app-navbar></app-navbar>
<div class="content">
  <div class="container">
    <h1 class="mt-5">Liste des Pays</h1>
    <button class="btn btn-primary mb-3" routerLink="/pays-form">Ajouter un Pays</button>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Pays</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pays of paysList">
          <td>{{ pays.id }}</td>
          <td>{{ pays.code }}</td>
          <td>{{ pays.libelle }}</td>
          <td>
            <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/pays-form', pays.id]">Modifier</button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deletePays(pays.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
