/* styles.css */
body {
  padding-top: 56px;
}

.container {
  max-width: 500px;
}
/* Ajoutez une transition pour le changement de couleur de fond */
.select-flash {
  transition: background-color 0.3s ease;
}

/* Définit la couleur de fond lorsqu'un élément est sélectionné */
.select-flash:focus {
  background-color: #ffffff; /* Couleur de fond à modifier selon vos préférences */
}
/* CSS pour styliser le logo */
.logo {
  height: 40px; /* Ajustez la hauteur selon vos besoins */
  width: auto;  /* Maintient le ratio de l'image */
}

/* Assurez-vous que l'image ne dépasse pas le conteneur parent */
.navbar-brand {
  padding: 0; /* Supprime les paddings par défaut */
  display: flex; /* Pour centrer verticalement si nécessaire */
  align-items: center; /* Centre l'image verticalement */
}

