<div class="app">
  <div class="row no-gutters">
    <div class="col-md-6 mx-auto p-0">
      <div class="card">
        <div class="forgot-password-box">
          <div class="forgot-password-snip">
            <input id="tab-5" type="radio" name="tab" class="forgot-password" checked="checked">
            <label for="tab-5" class="tab">Forgot Password</label>
            <div class="forgot-password-space">
              <div class="forgot-password-container">
                <h2></h2>
                <p>Please enter your email address to reset your password.</p>
                <form (ngSubmit)="resetPassword()">
                  <div class="group">
                    <label for="forgot-email" class="label form-label">Email</label>
                    <input type="email" id="forgot-email" class="input" placeholder="Enter your email" [(ngModel)]="email" name="email" required>
                  </div>
                  <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                  </div>
                  <div class="group">
                    <button type="submit" class="button" >Reset Password</button>
                  </div>
                  <div class="hr"></div>
                  <div class="foot">
                    <a routerLink="/login">login</a>
                  </div>

                </form>
                <!-- Affichage des alertes -->

                <div *ngIf="successMessage" class="alert alert-success" role="alert">
                  {{ successMessage }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
