<!-- src/app/components/ville-list/ville-list.component.html -->
<app-navbar></app-navbar>
<div class="content">
  <div class="container">
    <h1 class="mt-5">{{ isEditMode ? 'Modifier' : 'Ajouter' }} une Ville</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="code" class="form-label">Code</label>
        <input type="text" id="code" class="form-control" [(ngModel)]="ville.code" name="code" required>
      </div>
      <div class="form-group mb-3">
        <label for="ville" class="form-label">Ville</label>
        <input type="text" id="ville" class="form-control" [(ngModel)]="ville.ville" name="ville" required>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-success">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
        <button type="button" class="btn btn-secondary" routerLink="/ville-list">Annuler</button>
      </div>
    </form>
  </div>
</div>
