<app-navbar></app-navbar>
<div class="container">
  <h1 class="mt-5">{{ isEditMode ? 'Modifier' : 'Ajouter' }} un Pays</h1>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="code">Code</label>
      <input type="text" id="code" class="form-control" [(ngModel)]="pays.code" name="code" required>
    </div>
    <div class="form-group">
      <label for="libelle">Pays</label>
      <input type="text" id="libelle" class="form-control" [(ngModel)]="pays.libelle" name="libelle" required>
    </div>
    <button type="submit" class="btn btn-success">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
    <button type="button" class="btn btn-secondary" routerLink="/pays-list">Annuler</button>
  </form>
</div>
