<app-navbar></app-navbar>
<div class="content">
  <div class="container">
    <h1 class="mt-5">Liste des Banques</h1>
    <button class="btn btn-primary mb-3" routerLink="/banque-form">Ajouter une Banque</button>

    <!-- Progress Bar -->
    <div *ngIf="isLoading" class="progress mb-3">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%"></div>
    </div>

    <div class="table-responsive" *ngIf="!isLoading">
      <table class="table table-hover table-striped">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Libellé</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let banque of banques">
          <td>{{ banque.id }}</td>
          <td>{{ banque.code }}</td>
          <td>{{ banque.libelle }}</td>
          <td>
            <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/banque-form', banque.id]">Modifier</button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteBanque(banque.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
