.navbar-custom {
  background-color: #343a40;
  padding: 0.5rem 1rem;
}
.navbar-logo {
  height: 40px;
}
.offcanvas-custom {
  background-color: rgb(52, 58, 64);
}
.nav-link {
  color: #ffffff !important;
}
.nav-link:hover {
  color: #ffc107 !important;
}
.dropdown-menu {
  background-color: #343a40;
}
.dropdown-item {
  color: #ffffff !important;
}
.dropdown-item:hover {
  background-color: #495057;
}
.btn-custom-outline {
  color: rgba(145, 57, 57, 0.9);
  border-color: #ffc107;
}
.btn-custom-outline:hover {
  background-color: #ffc107;
  color: #343a40;
}
.form-control {
  border-radius: 0;
}
.btn-close {
  filter: invert(1);
}
.navbar-custom {
  background-color: #343a40;
}

.navbar-logo {
  height: 30px;
}

.btn-custom-outline {
  border-color: #ffffff;
  color: #ffffff;
}

.navbar-text {
  display: flex;
  align-items: center;
}

.navbar-text .fa-user-shield {
  margin-right: 5px;
}
.dropdown-menu.show-always {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  position: static !important;
}
