<app-navbar></app-navbar>
<div class="content">
  <div class="container">
    <h1 class="mt-5">Liste des Villes</h1>
    <button class="btn btn-primary mb-3" routerLink="/ville-form">Ajouter une Ville</button>
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead class="table-dark">
        <tr>
          <th>ID</th>
          <th>Code</th>
          <th>Ville</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody [@listAnimation]>
        <tr *ngFor="let ville of villes">
          <td>{{ ville.id }}</td>
          <td>{{ ville.code }}</td>
          <td>{{ ville.ville }}</td>
          <td>
            <button type="button" class="btn btn-outline-info btn-sm" [routerLink]="['/ville-form', ville.id]">Modifier</button>
            <button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteVille(ville.id)">Supprimer</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
