
  /* Style pour la section du haut */
.top-section {
  width: 100%;
}
@media only screen and (max-width: 1600px) {
  .top-section {
    width: 1280px;
  }
}
@media only screen and (max-width: 1500px) {
  .top-section {
    width: 1180px;
  }
}
@media only screen and (max-width: 1400px) {
  .top-section {
    width: 1080px;
  }
}
@media only screen and (max-width: 1200px) {
  .top-section {
    width: 980px;
  }
}

/* Style pour la section du milieu */
.middle-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media only screen and (max-width: 1600px) {
  .middle-section {
    width: 1280px;
  }
}
@media only screen and (max-width: 1500px) {
  .middle-section {
    width: 1180px;
  }
}
@media only screen and (max-width: 1400px) {
  .middle-section {
    width: 1080px;
  }
}
@media only screen and (max-width: 1200px) {
  .middle-section {
    width: 980px;
  }
}
.middle-section .widget {
  height: 350px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}
.middle-section .widget.left {
  flex: 1 1 60%;
}
.middle-section .widget.right {
  flex: 1 1 35%;
}

/* Style pour la section du bas */
.bottom-section {
  display: flex;
  justify-content: space-between;
}
.bottom-section .widget {
  height: 250px;
  background-color: #fff;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 5px 5px 5px #939393;
}
.bottom-section .widget.left,
.bottom-section .widget.right {
  flex: 1 1 45%;
}

@media only screen and (max-width: 1600px) {
  .bottom-section .widget {
    flex: 1 1 40%;
  }
}
@media only screen and (max-width: 1500px) {
  .bottom-section .widget {
    flex: 1 1 35%;
  }
}
@media only screen and (max-width: 1400px) {
  .bottom-section .widget {
    flex: 1 1 30%;
  }
}
@media only screen and (max-width: 1200px) {
  .bottom-section .widget {
    flex: 1 1 25%;
  }
}
